myProject/.DS_Store
myProject/os_project/.DS_Store
myProject/os_project/hw1/.DS_Store
myProject/os_project/hw2/.DS_Store
myProject/soft_training
myProject/os_project/.vscode
.DS_Store
os_project/hw3/MY_DISK
os_project/hw3/a.out
os_project/hw3/a.out.dSYM
.vs
os_project/hw4/a.out
